
__pycache__
.env
.venv
.DS_Store
.vscode
.kiro
outputs
old/
temp/

agents/strands_aws_docs.py
agents/strands_aws_blogs_news.py
agents/requirements.txt
agents/orchestrator.py

.bedrock_agentcore.yaml
.dockerignore
Dockerfile
test.py
test2.py
